@model Game

@* https://www.w3schools.com/tags/tag_input.asp *@
@* https://www.telerik.com/blogs/select-tag-helper-asp-net-core-mvc *@
@* https://stackoverflow.com/questions/34624034/select-tag-helper-in-asp-net-core-mvc *@

<h2>Create Game:</h2>

<form method="post">

    <div class="section">

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" style="width:600px" />

        <label asp-for="Sealed"></label>
        <input asp-for="Sealed" type="checkbox" />

        <br />

        <label asp-for="Condition"></label>
        <select asp-for="Condition" asp-items="@Model.ConditionList" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="Platform"></label>
        <select asp-for="Platform" asp-items="@Model.PlatformLst" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="MediaType"></label>
        <select asp-for="MediaType" asp-items="@Model.MediaLst" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="Complete"></label>
        <select asp-for="Complete" asp-items="@Model.CompleteLst" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" style="width:80px" />

        <label asp-for="Postage"></label>
        <input asp-for="Postage" class="form-control" style="width:80px" />

        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />

    </div>

    <br />

    <button type="submit" style="width:150px">Create</button>

    <br /><br />

    <a asp-controller="Game" asp-action="Index" style="width:150px">
        Back to list
    </a>

</form>