@model Game

<h2>Delete Game:</h2>

<form method="post" asp-action="DeleteProduct">

    <div class="section">

        <input asp-for="Id" hidden />

        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control" />

        <label asp-for="Platform"></label>
        <input asp-for="Platform" disabled class="form-control" />

        <label asp-for="MediaType"></label>
        <input asp-for="MediaType" disabled class="form-control" />

        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control" />

    </div>

    <br />

    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model.Name?')">Delete &nbsp; <i class="bi bi-trash3"></i></button>

    <p></p>

    <a asp-controller="Game" asp-action="Index" class="btn btn-primary siteButton">
        <i class="bi bi-chevron-left"></i> Back to list
    </a>

</form>