html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

button {
    width: 160px;
}

a.siteButton {
    width: 160px;
}

table.siteTheme, th.siteTheme, td.siteTheme {
    border: 2px solid;
}

th.siteTheme, td.siteTheme {
    padding: 5px;
}

th.siteTheme {
    text-align: center;
    background-color: lightgray;
}

td.bgHighlight {
    background-color: #D9E5F7;
}

div.section {
    border: 2px solid;
    padding: 10px;
}

span.highlightGreen {
    color: mediumseagreen;
    font-weight: 900;
}

img.imgCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}