@model Toy

<h2>Delete Toy:</h2>

<form method="post" asp-action="DeleteProduct">

    <div class="section">

        <input asp-for="Id" hidden />

        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control" />

        <label asp-for="Condition"></label>
        <input asp-for="Condition" disabled class="form-control" />

        <label asp-for="Damaged"></label>
        <input asp-for="Damaged" disabled class="form-control" />

        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control" />

    </div>

    <br />

    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model.Name?')">Delete &nbsp; <i class="bi bi-trash3"></i></button>

</form>

<br />

<form method="post" asp-controller="Toy" asp-action="ConvertToyModelToProductModel">

    <button type="submit" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Back to list</button>

    <input type="hidden" asp-for="@Model.ToyLine" />

</form>