@using AuctionTracker.Web.Class

@model Product;

@{
    ViewData["Title"] = "Index";
}

<div>

    <img id="ToyLines.jpg" class="imgCentre" src="~/Images/ToyLines.jpg" width="700" height="240" border="1" />

    <br />

    <div class="card border-primary mb-3" style="width: 100%">
        <div class="card-header">Instructions:</div>
        <div class="card-body">
            <p class="card-text">Please select a toy line from the options below then click the 'View Results' button.</p>
        </div>
    </div>

    <p></p>

    <form method="post" asp-action="Index">

        <select class="form-select" id="exampleSelect1" asp-for="SelectedProductLine" asp-items="Model.Toy.Select(x =>
                                  new SelectListItem()
                                          {
                                              Text = x.ToyLine,
                                              Value = x.ToyLine
                                          }).DistinctBy(x => x.Text).OrderBy(x => x.Text).ToList()" style="width:200px">
            <option>Please select one</option>
        </select>

        <p></p>

        <button type="submit" class="btn btn-primary">View Results</button>

    </form>

</div>