@{
    ViewData["Title"] = "Home Page";
}

<img id="eBayLogo.png" class="imgCentre" src="~/Images/eBayLogo.png" width="300" height="118" />

<br />

<div class="text-center">
    <h2>Auction Tracker</h2>
</div>

<br />

<div class="card border-primary mb-3" style="width: 100%">
    <div class="card-header">About:</div>
    <div class="card-body">
        <p class="card-text">The purpose of this application is to allow the user to view and get metrics on recent eBay auction sold prices for various items.  Using this data the user should then be able to more accurately gauge the approximate value of a item from a sales or buying perspective.</p>
    </div>
</div>
